# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
env/
.venv/
.env/

# ==============================
# Environment Variables
# ==============================
.env
.env.*
*.env

# ==============================
# Django
# ==============================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ==============================
# PyCharm / JetBrains IDE
# ==============================
.idea/
*.iml
*.iws
*.ipr

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS fayllar
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Distribution / Packaging
# ==============================
dist/
build/
*.egg-info/
*.egg
